<html>
  <head></head>
  <body>
    <form action="{% url 'list' %}" method="get" novalidate> {% csrf_token %}
        {{ form.as_p }}
        <button name="action" type="submit" value="submit">Search</button>
    </form>
    {% for samplemodel in object_list %}
      <p>{{ samplemodel.first_name }} {{ samplemodel.last_name }}</p>
    {% endfor %}
  </body>
</html>
